<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @recipe.product.title %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @recipe.ingredient.item %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @recipe.amount %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
