<h1>Editing Shop and Day for User - editdayshop</h1>

<% user = @user.first %>
<%= form_for(user, :url => userdayshop_path, method: :patch) do |f| %>

  <div class="field">
    <%= f.text_field :id, hidden: true %>
  </div>
  
  <div class="intro"></div>
   For <%= user.name %>, change the day and/or shop that you wish to work on.
  </div>
  
  <div class="field">
    <%= f.label :day %>
    <%= f.date_select :day %>
  </div>

  <div class="field">
    <%= f.label :shop %>
    <%= f.select :shop, @shop_options %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', ordersedit_path %>
