<p id="notice"><%= notice %></p>

<h1>Bake to fill the Orders to</h1>
<h1>Deliver On : <%= @current_day %> (<%= Date.parse(@current_day).strftime("%A") %>)</h1>



<p>This table is the expected output - data can be applied in any format.</p>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @bakers.each do |baker| %>
      <tr>
        <td><%= baker.title %></td>
        <td><%= baker.totalqty %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> This table for diagnositics only</p>
<table>
    <thead>
    <tr>
      <th>id</th>
      <th>Product_id</th>
      <th>Shop_id</th>
      <th>quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @baker1.each do |baker1| %>
      <tr>
        <td><%= baker1.id %></td>
        <td><%= baker1.product_id %></td>
        <td><%= baker1.shop_id %></td>
        <td><%= baker1.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Show delivery page', ordersdelivery_path %>
<%= link_to 'Order editing for shop on delivery day', ordersedit_path %>

