<p id="notice"><%= notice %></p>

<h1>Dough required to fill the Orders to</h1>
<h1>Deliver On : <%= @current_day %> (<%= Date.parse(@current_day).strftime("%A") %>)</h1>



<p>This table is the expected output - data can be applied in any format.</p>
<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Units</th>
    </tr>
  </thead>

  <tbody>
    <% @bakerdoes.each do |bakerdoe| %>
      <tr>
        <td><%= bakerdoe.item %></td>
        <td><%= bakerdoe.totalqty %></td>
        <td><%= bakerdoe.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Show delivery page', ordersdelivery_path %>
<%= link_to 'Show bakers page', ordersbakers_path %>
<%= link_to 'Show product shop summary page', ordersproductshops_path %>
<%= link_to 'Order editing for shop on delivery day', ordersedit_path %>
<%= link_to 'Show ingredients', ingredients_path %>
<%= link_to 'Show recipes', recipes_path %>

