<p id="notice"><%= notice %></p>

<h3>Bake to fill the Orders for delivery on : <%= Date.parse(@current_day).strftime("%A %d %B %Y") %></h3>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Product</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @bakers.each do |baker| %>
      <tr>
        <td><%= baker.name %></td>
        <td><%= baker.title %></td>
        <td><%= baker.totalqty %></td>
      </tr>
    <% end %>
  </tbody>
</table>
