<p id="notice"><%= notice %></p>

<h3>Dough required to fill the Orders for delivery on : <%= Date.parse(@current_day).strftime("%A %d %B %Y") %></h3>

<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Units</th>
    </tr>
  </thead>

  <tbody>
    <% @bakerdoes.each do |bakerdoe| %>
      <tr>
        <td><%= bakerdoe.item %></td>
        <td><%= bakerdoe.totalqty %></td>
        <td><%= bakerdoe.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

