<p id="notice"><%= notice %></p>

<h1>Deliveries for : <%= Date.parse(@current_day).strftime("%A %d %B %Y") %></h1>
<p style='page-break-after:always;'></p>
<% @previous_shop = "" %>
<% @delivery.each do |deliver| %>
  
  <% if @previous_shop != deliver.shop_name %>
    <% if @previous_shop != "" %>
        </tbody>
        </table>
        </div>
        </div>
        <p style='page-break-after:always;'></p>
    <% end %>
    
    <% @previous_shop = deliver.shop_name %>
    <div class="wrapper">
      <h1><%= deliver.shop_name %></h1>
      <div class="column-left">
        <h2 class="info-name"><%= @bakery.name %></h1>
        <div class="info">
          <% @bakeryA.each do |a| %>
            <%= a %></br>
          <% end %>
          </br>
          <b>Delivery Date:</b></br>
          <%= Date.parse(@current_day).strftime("%A %d %B %Y") %>
        </div>
      </div><!--
   --><div class="column-right">
        <h2 class="info-name">Description</h2>
        <table class="product-table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
  <% end %>
  <tr>
    <td><%= deliver.title %></td>
    <td><%= deliver.quantity %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>



