<p id="notice"><%= notice %></p>
<table>
  <tr><td>user</td><td><%= @current_user %></td><td id="user_id"><%= @current_user_id %></td></tr>
  <tr><td>shop</td><td><%= @current_shop %></td><td id="shop_id"><%= @current_shop_id %></td></tr>
  <tr><td>deliver</td><td id="day"><%= @current_day %></td><td></td></tr>
</table>

<h1>Order for Products - index_edit</h1>

<table>
  <% @products.each do |product| %>
    <tr class="product" id="<%= product.product_id %>">
      <td class="product_id"><%= product.product_id %></td>
      <td class="title"><%= product.title %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td> 
        <input class="qty" type="number" id="<%= product.order_id %>" value="<%= product.quantity %>" min=0 />
        <p class="origqty"><%= product.quantity =%></p>
      </td>
      <td class="order_id"><%= product.order_id %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
