<p id="notice"><%= notice %></p>

<table>
  <tr><td>user</td><td><%= @current_user %></td><td id="user_id"><%= @current_user_id %></td><td></td><%= link_to 'Log Out', logout_path %></tr>
  <tr><td>shop</td><td><%= @current_shop %></td><td id="shop_id"><%= @current_shop_id %></td><td></td></tr>
  <tr><td>deliver</td><td id="day"><%= @current_day %> (<%= Date.parse(@current_day).strftime("%A") %>)</td><td></td>><td>
    <% if @locked > 0 %>
      Locked
    <% else %>
      <%= link_to 'Lock today', locktoday_path, { method: :post, :confirm => "Are you sure?" } %>
    <% end %>
  </td></tr>
</table>
<%= link_to 'Update shop or delivery day', userdayshop_path %>

<h1>Order for Products - index_edit</h1>

<% if @noorders == true then %>
  <div class=checkordersempty>
    <form action=<%= ordersedit_path %> method="get" >
      <% if @copymessage.nil? %>
        <h2>do you want to copy a previous order to start off - select the day and click copy?</h2>
      <% else %>
        <h2><%= @copymessage %></h2>
      <% end %>
      Copy Order from:<input type="date" name="copyfrom"><br>
      Copy  Order  to:<input type="date" value=<%= @current_day %> name="copyto" readonly><br>
      <button type="submit" value="Submit">Copy</button>
      <button class="noclonebutton" type="button" value="Button" >No Thanks</button>
    </form>
    <br>
  </div>
<% end %>

  <% cat = "" %>
  <% @products.each do |product| %>
    <% if product.sector_name != cat %>
      <% unless cat.blank? %>
        </table>
      <% end %>
      <% cat = product.sector_name %>
      <div class="sector"><b><%= cat %></b></div>
      <table class="product_group, showme">
    <% end %>
    <tr class="product" id="<%= product.product_id %>">
      <td class="product_id"><%= product.product_id %></td>
      <td class="title"><%= product.title %></td>
      <% if @current_user == "James" %>
        <td>
          <input class="qty" type="number" id="<%= product.order_id %>" value="<%= product.quantity %>" min=0 />
          <p class="origqty"><%= product.quantity =%></p>
        </td>
      <% elsif (@locked != 0) or (product.locked?) %>
        <td class="qty_locked"><%= product.quantity %></td>
      <% else %>
        <td>
          <input class="qty" type="number" id="<%= product.order_id %>" value="<%= product.quantity %>" min=0 />
          <p class="origqty"><%= product.quantity =%></p>
        </td>
      <% end %>
      <td class="order_id"><%= product.order_id %></td>
    </tr>
  <% end %>
  <% unless cat.blank? %>
    </table>
  <% end %>

<br>

<%= link_to 'Show all Orders', orders_path %>
<%= link_to 'Show bakers page', ordersbakers_path %>
<%= link_to 'Show bakers doe page', ordersbakerdoes_path %>
<%= link_to 'Show delivery page', ordersdelivery_path %>
<%= link_to 'Show product shop summary page', ordersproductshops_path %>
<%= link_to 'Show order logs', orderlogdayshop_path %>
<%= link_to 'Display Product to Users ', displayproducts_path %>
<%= link_to 'Lock orders for this day', locktoday_path, { method: :post, :confirm => "Are you sure?" } %>
