<p id="notice"><%= notice %></p>
<% user = @current_user %>
<div class="info-container">
  <div class="info-wrapper">
    <h1 class="main">Order Details</h1>

    <% user = @user.first %>
    <%= form_for(user, :url => userdayshop_path, method: :patch) do |f| %>
    
      <div class="field">
        <%= f.text_field :id, {hidden: true, id: 'user_id'} %>
      </div>
      
      <div class="field-wrapper">
        <div class="field intro">
          <%= user.name %>
        </div>
        
        <div class="field">
          <input type="date" id="day" name="user[day]" value="<%= user.day %>">
        </div>
      
        <div class="field">
          <%= f.select :shop, @shop_options, {}, {:id => 'shop'} %>
        </div>
        
        <div class="hidden_content", id="shop_id">
          <%=  @current_shop_id %>
        </div>
      
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h1>Order for Products</h1>

<% if @noorders == true then %>
  <div class=checkordersempty>
    <form action=<%= ordersedit_path %> method="get" >
      <% if @copymessage.nil? %>
        <h2>do you want to copy a previous order to start off - select the day and click copy?</h2>
      <% else %>
        <h2><%= @copymessage %></h2>
      <% end %>
      Copy Order from:<input type="date" name="copyfrom"><br>
      Copy  Order  to:<input type="date" value=<%= @current_day %> name="copyto" readonly><br>
      <button type="submit" value="Submit">Copy</button>
      <button class="noclonebutton" type="button" value="Button" >No Thanks</button>
    </form>
    <br>
  </div>
<% end %>

  <% cat = "" %>
  <% @products.each do |product| %>
    <% if product.sector_name != cat %>
      <% unless cat.blank? %>
        </table></div>
      <% end %>
      <% cat = product.sector_name %>
      <div class="sector"><b><%= cat %><span> - </span></b></div>
      <div>
      <table class="product_group, showme">
    <% end %>
    <tr class="product" id="<%= product.product_id %>">
      <td class="product_id"><%= product.product_id %></td>
      <td class="title"><%= product.title %></td>
      <% if @locked == 0 %>
        <td> 
          <input class="qty" type="number" id="<%= product.order_id %>" value="<%= product.quantity %>" min=0 />
          <p class="origqty"><%= product.quantity =%></p>
        </td>
      <% else %>
        <td class="qty_locked"><%= product.quantity %></td>
      <% end %>
      <td class="order_id"><%= product.order_id %></td>
    </tr>
  <% end %>
  <% unless cat.blank? %>
    </table>
  <% end %>

<br>

<%= link_to 'Show all Orders', orders_path %>
<%= link_to 'Show bakers page', ordersbakers_path %>
<%= link_to 'Show bakers doe page', ordersbakerdoes_path %>
<%= link_to 'Show delivery page', ordersdelivery_path %>
<%= link_to 'Show product shop summary page', ordersproductshops_path %>
<%= link_to 'Show order logs', orderlogdayshop_path %>