<p id="notice"><%= notice %></p>
user: <%= @current_user %><br>
shop: <%= @current_shop %><br>
day : <%= @current_day %><br>


<h1>Order for Products - index_edit</h1>

<table>
  <% @products.each do |product| %>
    <tr class="product" id="<%= product.title %>">
      <td class="title"><%= product.title %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td>
        <input class="qty" type="number" id=<%= product.id %> value=<%= product.quantity =%> min=0 size=6 />
        
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
